# IDE setting
PYTHONPATH=src
# UNSUPPORTED - it will be downloaded and placed in temp
CHROME_DRIVER_PATH=
# path to tesseract.exe
TESSERACT_PATH=
# where to place related language packs of tesseract
TESSDATA_PREFIX=
# directory where to place results, subdirectories will be created
OUTPUT_FILE_DIRECTORY=
# path to file where to write log
APPLICATION_LOGS_PATH=
# path to chrome directory
CHROME_DIRECTORY=
# path to chrome directory that is to be used for undetected chrome
CHROME_UNDETECTED_DIRECTORY=
# UNSUPPORTED - Default will be used anyway
CHROME_PROFILE=Default
# path to db file (sqlite)
DB_PATH=
# limit on virtual window
WINDOW_W_MIN=
# limit on virtual window
WINDOW_W_MAX=
# limit on virtual window
WINDOW_H_MIN=
# limit on virtual window
WINDOW_H_MAX=
# maximum number of new websites requests in db
MAX_NEW_WEBSITE_REQUESTS=
# maximum number of thread-parallel processes in processing parsing requests
MAX_ACTIVE_PROCESSES=
# maximum number of chapters that can be requested
MAX_CHAPTERS_COUNT=
# allowed time for tasks execution
TASKS_EXECUTION_TIMEOUT_SECONDS=
# after how much time to delete files related to finished task by default
FINISHED_TASKS_DEFAULT_LIFETIME_SECONDS=
# limit on requested files lifetime
FINISHED_TASKS_LIFETIME_LIMIT_SECONDS=
# if True will expose log file in results
DEV_MODE=
# if True will use headless mode even if expected to fail
ALLWAYS_HEADLESS=