# defaults of naming beans, make sure they do not cause overlaps
SCROLL_NAME = "scroll"
RELOAD_HANDLER_NAME = "reload_handler"
ORCHESTRA_NAME = "orchestra"
LINK_HANDLER_NAME = "link_handler"
MAIN_BLOCK_HANDLER_NAME = "main_block_handler"
BLOCK_HANDLER_NAME = "block_handler"
ORDERER_NAME = "orderer"
PARSER_NAME = "parser"
PARSING_PROCESS_NAME = "parsing_process"
LOG_WRITER_NAME = "log_writer"
DRIVER_HANDLER_NAME = "driver_handler"
LINK_COLLECTOR_NAME = "link_collector"
OUTPUT_WRITER_NAME = "output_writer"
FINDER_NAME = "finder"
COLLECTOR_NAME = "collector"
POST_PROCESSING_NAME = "post_processing"
# what processing to add in some functions by default
DEFAULT_POST_PROCESSINGS = [
    f"{POST_PROCESSING_NAME}_default_vis",
    f"{POST_PROCESSING_NAME}_default_sub",
    f"{POST_PROCESSING_NAME}_default_nor",
    f"{POST_PROCESSING_NAME}_default_rep",
]
