import os
from datetime import timedelta
from dotenv import load_dotenv

load_dotenv(dotenv_path=os.environ.get("ENV_PATH"))

CHROME_DRIVER_PATH = os.environ["CHROME_DRIVER_PATH"]  # path to chromedriver
TESSERACT_PATH = os.environ["TESSERACT_PATH"]  # path to tesseract
OUTPUT_FILE_DIRECTORY = os.environ["OUTPUT_FILE_DIRECTORY"]
CHROME_DIRECTORY = os.environ["CHROME_DIRECTORY"]
CHROME_PROFILE = "Default"  # UNSUPPORTED - Default will be forcefully used
TEMP_FOLDER = os.environ["TEMP_FOLDER"]
DB_PATH = os.environ["DB_PATH"]
WINDOW_W_MIN = int(os.environ["WINDOW_W_MIN"])
WINDOW_W_MAX = int(os.environ["WINDOW_W_MAX"])
WINDOW_H_MIN = int(os.environ["WINDOW_H_MIN"])
WINDOW_H_MAX = int(os.environ["WINDOW_H_MAX"])
MAX_NEW_WEBSITE_REQUESTS = os.environ["MAX_NEW_WEBSITE_REQUESTS"]
MAX_ACTIVE_PROCESSES = int(os.environ["MAX_ACTIVE_PROCESSES"])
MAX_CHAPTERS_COUNT = int(os.environ["MAX_CHAPTERS_COUNT"])
TASKS_EXECUTION_TIMEOUT_SECONDS = int(os.environ["TASKS_EXECUTION_TIMEOUT_SECONDS"])
FINISHED_TASKS_LIFETIME = timedelta(seconds=int(os.environ["FINISHED_TASKS_LIFETIME_SECONDS"]))
APPLICATION_LOGS_PATH = os.environ["APPLICATION_LOGS_PATH"]
